<md-spinner *ngIf="loading"></md-spinner>
<div *ngIf="question">
  <md-card>
    <md-card-header>
      <div md-card-avatar>
        <i *ngIf="question.icon !== 'none'" md-list-icon class="{{question.icon}} icon"></i>
        <i *ngIf="question.icon === 'none'" md-list-icon class="material-icons icon">help</i>
      </div>
      <md-card-title>
        {{ question.title }}
      </md-card-title>
      <md-card-subtitle>
        <small>{{ question.user.firstName }} {{ question.user.lastName }} - {{question.createdAt | amLocale: 'es' | amTimeAgo}}</small>
      </md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        {{ question.description }}
      </p>
    </md-card-content>
    <!-- <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions> -->
  </md-card>
  <div class="answers">
    <h3 md-subheader id="answers-title">Respuestas</h3>

    <ul class="answers-list" *ngIf="question.answers.length > 0">
      <li *ngFor="let answer of question.answers">
        <h4>
          {{ answer.user.firstName }} {{ answer.user.lastName }}
          <small>{{ answer.createdAt | amLocale: 'es' | amTimeAgo }}</small>
        </h4>
        <p class="description">
          {{ answer.description }}
        </p>
      </li>
    </ul>
    <p *ngIf="question.answers.length === 0">Sé el primero en responder esta pregunta</p>
    <answer-form class="answer-form" [question]="question"></answer-form>
  </div>
</div>
