.icon {
  font-size: 38px;
}

.answers {
  padding: 12px;
}

.answers-list {
  padding: 0;
  padding-bottom: 160px;
  list-style-type: none;
}

h3 {
  padding-left: 0;
}

h4 small {
  font-weight: normal;
}

.answer-form {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  border-top: 1px solid #dcdcdc;
}

.description {
  padding-left: 6px;
  border-left: 2px solid #eee;
  font-size: 14px;
}
