<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary">
  <a class='title' [routerLink]="['/']">PlatziOverflow</a>
  <span class="example-spacer"></span>

  <div *ngIf="isLoggedIn()">
    <md-menu #appMenu="mdMenu">
      <button md-menu-item disabled>
        {{ fullName() }}
      </button>
      <button md-menu-item (click)="logout()">Cerrar sesión</button>
    </md-menu>
    <button
      md-icon-button
      [mdMenuTriggerFor]="appMenu"
      class="user-button">
      <md-icon>account_circle</md-icon>
    </button>
  </div>

  <button *ngIf="!isLoggedIn()" [routerLink]="['signin']" md-icon-button class="user-button">
     <md-icon>account_circle</md-icon>
  </button>

</md-toolbar>
<router-outlet></router-outlet>
